# Lambda Functions - Lab

## Introduction

In this lab, you'll get some hands-on practice creating and using lambda functions.

## Objectives

In this lab you will:

* Create lambda functions to use as arguments of other functions   
* Use the `.map()` or `.apply()` method to apply a function to a pandas series or DataFrame

## Lambda Functions

In [25]:
import pandas as pd
df = pd.read_csv('Yelp_Reviews.csv', index_col=0)
pd.set_option('display.max_colwidth', None)
df.head(2)

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atleast once a week. The portions are huge! Food is amazing. I love their carne asada. They have great lunch specials... Leticia is super nice and cares about what you think of her restaurant. You have to try their cheese enchiladas too the sauce is different And amazing!!!,0,msQe1u7Z_XuqjGoqhB0J5g
2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fat and mushy and had no flavor. If you want bbq in this neighborhood go to john mulls roadkill grill. Trust me.,3,msQe1u7Z_XuqjGoqhB0J5g

## Simple arithmetic

Use a lambda function to create a new column called `'stars_squared'` by squaring the stars column.

In [2]:
#create a new column called 'stars_squared' by squaring the stars columnand using the map ()
df['stars_squared']=df['stars'].map(lambda x: x**2)
df['stars_squared']

1       25
2        1
4       25
5        1
10      25
        ..
689     25
4874    25
564     25
3458     4
4206     1
Name: stars_squared, Length: 2610, dtype: int64

## Dates
Select the month from the date string using a lambda function.

In [10]:
#Select the month from the date string using a lambda function. 
months = df['date'].map(lambda x: (x).month)
#call the function
months

1       11
2       10
4        9
5        2
10       6
        ..
689      6
4874     8
564      6
3458    10
4206     8
Name: date, Length: 2610, dtype: int64

## What is the average number of words for a yelp review?
Do this with a single line of code.

In [12]:
df.columns

Index(['business_id', 'cool', 'date', 'funny', 'review_id', 'stars', 'text',
       'useful', 'user_id', 'stars_squared'],
      dtype='object')

In [18]:
# calculate the average/ mean on the text column for it has the words in the review
# remember! do this in a single line of code
df['text'].apply(lambda x: len((x.split()))).mean()

77.06551724137931

## Create a new column for the number of words in the review

In [30]:
#Create a new column for the number of words in the review 
df['Review_num_words']=df['text'].apply(lambda x: len((x.split())))
df['Review_num_words']

1        58
2        30
4        30
5        82
10       32
       ...
689      61
4874     43
564      79
3458    185
4206     42
Name: Review_num_words, Length: 2610, dtype: int64

## Rewrite the following as a lambda function

Create a new column `'Review_Length'` by applying this lambda function to the `'Review_num_words'` column.

In [41]:
# Rewrite the following function as a lambda function
def rewrite_as_lambda(value):
    if len(value) < 50:
        return 'Short'
    elif len(value) < 80:
        return 'Medium'
    else:
        return 'Long'
# Hint: nest your if, else conditionals
df['Review_length'] = df['Review_num_words'].apply(lambda x: 'Short' if x < 50 else 'Medium' if x < 80 else 'Long')
df['Review_length']

1       Medium
2        Short
4        Short
5         Long
10       Short
         ...
689     Medium
4874     Short
564     Medium
3458      Long
4206     Short
Name: Review_length, Length: 2610, dtype: object

## Level Up: Dates Advanced
<img src="images/world_map.png" width="600">  

Print the first five rows of the `'date'` column.

In [43]:
#Print the first five rows of the 'date' column.
df['date'].head(5)

1     2012-11-13
2     2014-10-23
4     2014-09-05
5     2011-02-25
10    2016-06-15
Name: date, dtype: object

Overwrite the `'date'` column by reordering the month and day from `YYYY-MM-DD` to `DD-MM-YYYY`. Try to do this using a lambda function.

In [52]:
# Overwrite the 'date' column by reordering the month and day from YYYY-MM-DD to DD-MM-YYYY
df['date'].apply(lambda x: pd.to_datetime(x).strftime('%d-%m-%Y'))

C:\Users\Admin\AppData\Local\Temp\ipykernel_580\1931140887.py:2: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['date'].apply(lambda x: pd.to_datetime(x).strftime('%d-%m-%Y'))

1       13-11-2012
2       23-10-2014
4       05-09-2014
5       25-02-2011
10      15-06-2016
           ...
689     02-06-2013
4874    14-08-2016
564     14-06-2016
3458    02-10-2013
4206    15-08-2016
Name: date, Length: 2610, dtype: object

## Summary

Hopefully, you're getting the hang of lambda functions now! It's important not to overuse them - it will often make more sense to define a function so that it's reusable elsewhere. But whenever you need to quickly apply some simple processing to a collection of data you have a new technique that will help you to do just that. It'll also be useful if you're reading someone else's code that happens to use lambdas.